body {
    font-family: Arial, sans-serif;
}

section:first-of-type {
    position: relative;
    text-align: center;
    padding: 20px;
    background-size: cover;
    color: white;
}
.form-main{
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
}
section:not(:first-of-type) {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: auto;
}

input[type=submit], input[type=button] {
    cursor: pointer;
}

#result {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}





